* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

nav {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 9%);
    display: flex;
    font-size: 1.7rem;
    height: auto;
    justify-content: space-between;
    left: 0;
    padding: 20px 40px 20px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 180;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(0, 153, 255);
    transition: .3s;
}

/*

*   Home section

*/

#home {
    height: 100vh;
    background-color: beige;
}

#home .container {
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
}

.container {
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.wrapper {
    display: flex;
    margin-bottom: 3rem;
}

.wrapper .content {
    width: 60%;
}

.img {
    background-image: url("../img/perfil.JPG");
    background-position: center;
    background-size: cover;
    border-radius: 10%;
    width: 40%;
}

.content h1 {
    color: #2d2e32;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.content p {
    color: #767676;
    font-family: Mulish, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 3rem;
}

.content ul {
    padding-bottom: 2rem;
}

.content ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1rem;
}

.content .logos {
    width: 2rem;
    height: 2rem;
}

.skills {
    align-items: center;
    color: rgb(118, 118, 118);
    display: flex;
    font-size: 1.7rem;
    margin-top: 8rem;
}

.skills ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
    margin-right: 1rem;
}

.tech-skill {
    width: 2.5rem;
    height: 2.5rem;
}

#about {
    height: 100vh;
    background-color: #fff;
    padding-top: 5rem;
}

.about-content {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.img-side {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../img/about-img.jpg");
    background-position: center;
    background-size: cover;
    width: 150rem;
    border-radius: 1.7rem;
}

.text-side h4 {
    color: rgb(20, 126, 251);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    text-transform: uppercase
}

.text-side h3 {
    color: rgb(45, 46, 50);
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1rem;
}

.text-side p {
    color: rgb(118, 118, 118);
    font-size: 1.3rem;
    line-height: 1.5;
}

.about-content .button {
    text-transform: uppercase;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 3rem;
    border: none;
    padding-left: 3rem;
    padding-right: 3rem;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: rgb(20, 126, 251);
    font-size: 1rem;
}

.about-content .button:hover {
    transition: .5s;
    transform: scale(1.1);
    opacity: .8;
}

/*

*   Project section 

*/

#portfolio {
    color: rgb(20, 126, 251);
    font-size: 2rem;
}

#projects {
    background-color: beige;
}

#projects .content {
    padding-top: 7rem;
}

#projects .content h3 {
    padding-bottom: 2rem;
}

.container-project {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#last-project {
    margin-bottom: 4rem;
}

.container-project .project {
    height: 32vw;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    display: flex;
    border-radius: 1.7rem;
}

.container-project .pro-img {
    background-color: rgba(117, 117, 117, 0.2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    height: auto;
    width: 55%;
    border-radius: 1.7rem;
    overflow: hidden;
    margin: 1rem;
}

.container-project .pro-text {
    width: 35%;
    height: auto;
    padding: 2rem;
    overflow: hidden;
}

.pro-img img {
    width: 100%;
    height: auto;
}

.first-project .pro-img:hover img {
    transform: translateY(-70%);
    transition: 10s;
}

.first-project .pro-img img {
    transform: translateY(0%);
    transition: 10s;
}

.pro-text .stack {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#projects .content .pro-text h3 {
    color: rgb(45, 46, 50);
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5rem;
}

#second-project {
    gap: 4rem;
}

#projects .pro-text p {
    color: rgb(118, 118, 118);
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    text-transform: none;
}

.stack p {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    color: rgb(0, 0, 0);
    font-weight: 600 !important;
    padding: 0.8rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
    width: 7rem;
    text-align: center;
}

#gallery {
    display: flex;
    cursor: pointer;
    height: 100%;
}

#gallery img {
    max-width: 100%;
    height: 100%;
}

#gallery:hover img {
    transform: translateX(-300%);
    transition: 10s;
}

#gallery img {
    transform: translateX(0%);
    transition: 10s;
}

.code {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.code h2 {
    font-size: 1rem;
    padding-bottom: 0.4rem;
}

#third-project img {
    height: 100%;
}

#third-project .pro-img {
    width: 60%;
}

#third-project {
    height: 28vw;
}

#fourth-project .pro-img:hover img {
    transform: translateY(-25%);
    transition: 10s;
}

#fourth-project .pro-img img {
    transform: translateY(0%);
    transition: 10s;
}

#fourth-project {
    gap: 4rem;
}

/*
   
*   Contact section

*/
#contact {
    height: 70vh;
    background-color: #fff;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.contact-content {
    display: flex;
    flex-direction: column;
}

.contact-title p {
    color: rgb(20, 126, 251);
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase
}

.contact-title h3 {
    color: rgb(45, 46, 50);
    font-size: 2.5rem;
}

.contact-icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6rem;
    gap: 8rem;
}

.contact-icon-box {
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-info h3 {
    color: rgb(45, 46, 50);
    font-size: 1.7rem
}

.contact-info p,
.contact-info a {
    color: rgb(118, 118, 118);
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
}

.contact-icon-box span img {
    width: 3.8rem;
    height: 3.8rem;
}

/*

*   Footer section

*/

footer {
    background-color: rgb(45, 46, 50);
    width: 100%;
    padding: 2rem 0px;
    height: 15vh;
}

footer h3 {
    color: rgb(255, 255, 255);
    font-size: 1.3rem
}

footer .content {
    display: flex;
    justify-content: space-between;
}

footer .content .logos {
    width: 1.8rem;
    height: 1.8rem;
    padding: 0;
}